In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("empinfo.csv")

In [ ]:
df

In [ ]:
type(df)

In [ ]:
# display first 10 records
df.head(5)

In [ ]:
# display last  3 records
df.tail(3)

In [ ]:
output = df.head(5)
output.to_csv("first5recoords.csv")

In [ ]:
# display (rows,columns)
df.shape

In [ ]:
# display datatype of ech column
df.dtypes

In [ ]:
# diplay 3rd to 10th record only
#df.iloc[rows,columns]
df.iloc[3:11]

In [ ]:
#df.iloc[rows, columns]
df.iloc[3:11, 1:4]

In [ ]:
output = df.iloc[3:11, 1:4]
output.to_csv("fewrows.csv")

In [ ]:
# display only one column
df['workclass']

In [ ]:
# display more
df[['workclass','education','age']]

In [ ]:
# remove duplicates from dataframe
df.drop_duplicates()  # will just diplay

In [ ]:
df.drop_duplicates(inplace=True)  # existing df will be updated

In [ ]:
condition = df['gender'] == ' Male'
df[condition]

#or
df[df['gender'] == ' Male']

In [ ]:
# display all the records where workclass is Private and gender is Female
cond1 = df['workclass'] == ' Private'
cond2 = df['gender'] == ' Female'

df[cond1 & cond2 ]

In [ ]:
## display all the records where workclass is Private and gender is Female
#df[(cond1) & (cond2)]
df[( df['workclass'] == ' Private') & ( df['gender'] == ' Female')]

In [ ]:
# sort values - ascending order
df.sort_values('age')

In [ ]:
# sorting in descending order
df.sort_values('age', ascending=False)

In [ ]:
# display occurence of each item
df['workclass'].value_counts()

In [ ]:
# display all unique workclasses
df['workclass'].unique()

In [ ]:
# display all no. of unique workclasses
df['workclass'].nunique()

In [ ]:
df.dropna() # drop rows with any column having null data

In [ ]:
df.fillna(0) # replace all null values with 0